.bubble-container {
	position: relative;
	display: flex;
	align-items: baseline;

	.author {
		position: absolute;
		top: -8px;
		left: 0;
		font-size: 14px;
	}

	.bubble {
		max-width: 60%;
		border-radius: 5px;
		margin-top: 20px;
		margin-bottom: 10px;
		padding: 10px;
	}

	i {
		position: absolute;
		bottom: -10px;
		font-size: 12px;
	}
}
